body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f5f2eb;
}

body h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#game-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 800px;
}

.central-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.side-panel {
    width: 200px;
}

canvas {
    border: solid 20px black;
    background-color: white;
    visibility: hidden;
    display: none;
}

#instructions {
    width: 300px;
    display: block;
    visibility: visible;
    text-align: justify;
    font-size: 24px;
}

#dashboard {
    visibility: hidden;
}

body button {
    font-size: 20px;
    margin: 20px;
    visibility: visible;
}

#game-over {
    visibility: hidden;
    display: none;
}