body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
    background-color: #f5f2eb;
}

body h1 {
    margin: 40px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#game-area {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 800px;
}

.central-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.side-panel {
    width: 200px;
}

canvas {
    border: solid 20px #252525;
    background-color: white;
    visibility: hidden;
    display: none;
}

#instructions {
    width: 380px;
    height: 540px;
    padding: 50px;
    border: solid 20px #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: visible;
    text-align: center;
    font-size: 24px;
}

#dashboard {
    visibility: hidden;
}

body button {
    font-size: 20px;
    margin: 20px;
    visibility: visible;
}

#game-over {
    visibility: hidden;
    display: none;
}

#game-over img {
    height: 640px;
    width: 480px;
    border: solid 20px #252525;
}

#game-over .message {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f2eb;
    z-index: 200;
}