body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    text-align: center;
    background-color: #f5f2eb;
}

body h1 {
    margin: 40px auto 0;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#game-area {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 680px;
}

.central-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.side-panel {
    width: calc((100% - 600px) /2);
    height: 100%;
    margin: 20px;
}

canvas {
    border: solid 20px #252525;
    background-color: white;
    visibility: hidden;
    display: none;
    box-shadow: 2px 2px 5px #858383;
}

#instructions {
    width: 380px;
    height: 540px;
    padding: 50px;
    border: solid 20px #252525;
    box-shadow: 2px 2px 5px #858383;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    text-align: center;
    font-size: 24px;
}

#instructions p {
    margin: 20px 20px 20px;
}

.keyboard-icon {
    width: 100px;
    display: block;
    margin: 10px;
}

#dashboard {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    text-align: left;
}

.art-card {
    height: 90px;
    width: 200px;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px #858383;
}

.art-card h3, p, h4 {
    padding: 0;
    margin: 2px;
    display: inline-block;
}

.art-card h4, h4 p {
    font-style: italic;
}

.art-card .credit {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: red;
}

#start-button {
    position: absolute;
    bottom: -10%;
    right: 10%;
    height:90px;
    width: 90px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    transform: rotate(-30deg);
    color: white;
    margin-bottom: 100px;
    visibility: visible;
    background-color: #4CAF50;
    box-shadow: 1px 1px 2px #858383;
}

#game-over {
    visibility: hidden;
    display: none;
}

#game-over img {
    height: 640px;
    width: 480px;
    border: solid 20px #252525;
}

#game-over .message {
    width: 100%;
    font-size: x-large;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f5f2eb;
    z-index: 200;
}

.message h3, h2 {
    margin: 5px;
}